NEXTAUTH_SECRET=**************************
NEXTAUTH_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/EduTask
EMAIL_USER=mr.pankajpandey0038@gmail.com
EMAIL_PASS=**********************
GOOGLE_CLIENT_SECRET=G*************************CxcG
GOOGLE_CLIENT_ID=*******************************.apps.googleusercontent.com
